.home {
    display: flex;
    width: 100%;
}

.left,
.center,
.right {
    padding: 1rem;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.feed .postCard {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.chatFunction {
    position: fixed;
    bottom: 0;
    right: 0;
    padding-right: 1vw;
}