.slideshow {
    max-width: 100%;
    position: relative;
}

.slideshow img {
    max-width: 100%;
    max-height: 100%;
}

.slideshow .prevImg {
    position: absolute;
    top: 45%;
    left: 1%;
    color: white;
}

.slideshow .nextImg {
    position: absolute;
    top: 45%;
    right: 1%;
    color: white;
}

.slideshow .nextImg:hover,
.slideshow .prevImg:hover {
    cursor: pointer;
}

.image-modal .ant-modal-content {
    background-color: transparent;
    box-shadow: none;
    height: 100vh;
}

.image-modal .ant-modal-body {
    height: 100%;
    padding: 0;
}

.nav-button:hover {
    background-color: rgba(255, 255, 255, 0.4) !important;
}

.close-button:hover {
    opacity: 0.8;
}

.ant-modal-close{
    height: auto;
    width: auto;
}